---
layout: base
---

<head>
    <title>{{ site.title | escape }}</title>
</head>

<div class="container">
<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm-10">
        <div class="row">
            <div class="col-sm">
                <div class="text-center name-title" style="font-size: 0.7em; line-height: 4em;">
                    Weird.<br>
                    Hay ngẩn ngơ, đủ sâu sắc để yêu một ai đó thật lâu.<br>
                    Mang Converse, mắt không phải màu đen,<br>
                    Đang để dành tiền để đến Bali Δ<br>
                    Find me → leave a comment  ♥. Nice day 😀<br>
                    <br>
                    <p style="color: #007bff;">
                        •ᴗ•
                    </p>
                    💌: <a class="btn btn-link btn-sm" href="mailto:{{site.email}}" role="button">{{site.email}}</a>
                    <br>
                </div>
            </div>
            <div style="height: 80px;"></div>
        </div>
    </div>
    <div class="col-sm">

    </div>
</div>